extends parts/layout.pug

block title
  title Конфигуратор

block content

  section.main
    .main__caption
      .container
        h2 КОНФИГУРАТОР

        p Выберите нужный вам тип конфигуратора

        ul
          li
            a(href="#")
              img(src="images/play.png" alt="")
              span Игровой

          li
            a(href="#")
              img(src="images/office.png" alt="")
              span Офисный

  