/**** IMPORTS ****/
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
.color-white { color: #fff; }

.alignleft { float: left; }

.alignright { float: right; }

.row { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }

.row.justify-content-space-between:after { content: ""; -ms-flex-preferred-size: 32%; -webkit-flex-basis: 32%; flex-basis: 32%; }

.container { margin: 0 auto; }

.column_20 { width: 20%; }

.column_25 { width: 25%; }

.column_33 { width: 32%; }

.column_35 { width: 35%; }

.column_40 { width: 40%; }

.column_50 { width: 50%; }

.column_60 { width: 60%; }

.column_70 { width: 70%; }

.column_75 { width: 75%; }

.pad-5 { padding: 5px !important; }

.pad-t-5 { padding-top: 5px !important; }

.pad-b-5 { padding-bottom: 5px !important; }

.pad-r-5 { padding-right: 5px !important; }

.pad-l-5 { padding-left: 5px !important; }

.mar-t-5 { margin-top: 5px !important; }

.mar-l-5 { margin-left: 5px !important; }

.mar-b-5 { margin-bottom: 5px !important; }

.pad-10 { padding: 10px !important; }

.pad-t-10 { padding-top: 10px !important; }

.pad-b-10 { padding-bottom: 10px !important; }

.pad-r-10 { padding-right: 10px !important; }

.pad-l-10 { padding-left: 10px !important; }

.mar-t-10 { margin-top: 10px !important; }

.mar-l-10 { margin-left: 10px !important; }

.mar-b-10 { margin-bottom: 10px !important; }

.pad-15 { padding: 15px !important; }

.pad-t-15 { padding-top: 15px !important; }

.pad-b-15 { padding-bottom: 15px !important; }

.pad-r-15 { padding-right: 15px !important; }

.pad-l-15 { padding-left: 15px !important; }

.mar-t-15 { margin-top: 15px !important; }

.mar-l-15 { margin-left: 15px !important; }

.mar-b-15 { margin-bottom: 15px !important; }

.pad-20 { padding: 20px !important; }

.pad-t-20 { padding-top: 20px !important; }

.pad-b-20 { padding-bottom: 20px !important; }

.pad-r-20 { padding-right: 20px !important; }

.pad-l-20 { padding-left: 20px !important; }

.mar-t-20 { margin-top: 20px !important; }

.mar-l-20 { margin-left: 20px !important; }

.mar-b-20 { margin-bottom: 20px !important; }

.pad-25 { padding: 25px !important; }

.pad-t-25 { padding-top: 25px !important; }

.pad-b-25 { padding-bottom: 25px !important; }

.pad-r-25 { padding-right: 25px !important; }

.pad-l-25 { padding-left: 25px !important; }

.mar-t-25 { margin-top: 25px !important; }

.mar-l-25 { margin-left: 25px !important; }

.mar-b-25 { margin-bottom: 25px !important; }

.pad-30 { padding: 30px !important; }

.pad-t-30 { padding-top: 30px !important; }

.pad-b-30 { padding-bottom: 30px !important; }

.pad-r-30 { padding-right: 30px !important; }

.pad-l-30 { padding-left: 30px !important; }

.mar-t-30 { margin-top: 30px !important; }

.mar-l-30 { margin-left: 30px !important; }

.mar-b-30 { margin-bottom: 30px !important; }

.pad-35 { padding: 35px !important; }

.pad-t-35 { padding-top: 35px !important; }

.pad-b-35 { padding-bottom: 35px !important; }

.pad-r-35 { padding-right: 35px !important; }

.pad-l-35 { padding-left: 35px !important; }

.mar-t-35 { margin-top: 35px !important; }

.mar-l-35 { margin-left: 35px !important; }

.mar-b-35 { margin-bottom: 35px !important; }

.pad-40 { padding: 40px !important; }

.pad-t-40 { padding-top: 40px !important; }

.pad-b-40 { padding-bottom: 40px !important; }

.pad-r-40 { padding-right: 40px !important; }

.pad-l-40 { padding-left: 40px !important; }

.mar-t-40 { margin-top: 40px !important; }

.mar-l-40 { margin-left: 40px !important; }

.mar-b-40 { margin-bottom: 40px !important; }

.pad-45 { padding: 45px !important; }

.pad-t-45 { padding-top: 45px !important; }

.pad-b-45 { padding-bottom: 45px !important; }

.pad-r-45 { padding-right: 45px !important; }

.pad-l-45 { padding-left: 45px !important; }

.mar-t-45 { margin-top: 45px !important; }

.mar-l-45 { margin-left: 45px !important; }

.mar-b-45 { margin-bottom: 45px !important; }

.pad-50 { padding: 50px !important; }

.pad-t-50 { padding-top: 50px !important; }

.pad-b-50 { padding-bottom: 50px !important; }

.pad-r-50 { padding-right: 50px !important; }

.pad-l-50 { padding-left: 50px !important; }

.mar-t-50 { margin-top: 50px !important; }

.mar-l-50 { margin-left: 50px !important; }

.mar-b-50 { margin-bottom: 50px !important; }

.pad-60 { padding: 60px !important; }

.pad-t-60 { padding-top: 60px !important; }

.pad-b-60 { padding-bottom: 60px !important; }

.pad-r-60 { padding-right: 60px !important; }

.pad-l-60 { padding-left: 60px !important; }

.mar-t-60 { margin-top: 60px !important; }

.mar-l-60 { margin-left: 60px !important; }

.mar-b-60 { margin-bottom: 60px !important; }

.pad-70 { padding: 70px !important; }

.pad-t-70 { padding-top: 70px !important; }

.pad-b-70 { padding-bottom: 70px !important; }

.pad-r-70 { padding-right: 70px !important; }

.pad-l-70 { padding-left: 70px !important; }

.mar-t-70 { margin-top: 70px !important; }

.mar-l-70 { margin-left: 70px !important; }

.mar-b-70 { margin-bottom: 70px !important; }

.pad-75 { padding: 75px !important; }

.pad-t-75 { padding-top: 75px !important; }

.pad-b-75 { padding-bottom: 75px !important; }

.pad-r-75 { padding-right: 75px !important; }

.pad-l-75 { padding-left: 75px !important; }

.mar-t-75 { margin-top: 75px !important; }

.mar-l-75 { margin-left: 75px !important; }

.mar-b-75 { margin-bottom: 75px !important; }

.align-items-center { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.justify-content-start { -webkit-box-pack: start; -ms-flex-pack: start; -webkit-justify-content: start; justify-content: start; }

.justify-content-center { -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

.justify-content-end { -webkit-box-pack: end; -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; }

.justify-content-space-between { -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }

.vertical-align-middle { vertical-align: middle; }

.flex-auto { -webkit-box-flex: 1; -ms-flex: auto; -webkit-flex: auto; flex: auto; }

.margin-auto { margin: 0 auto; display: block; }

.pull-left { float: left; }

.pull-right { float: right; }

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-uppercase { text-transform: uppercase; }

.hidden { display: none; }

.visible { display: block !important; }

.display-flex { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }

.display-flex_horizontal { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }

.display-flex_vertical { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }

.img-responsive { display: block; max-width: 100%; height: auto; }

@media screen and (max-width: 1200px) { .hidden-md { display: none !important; }
  .visible-md { display: block !important; } }

@media screen and (max-width: 768px) { .hidden-sm { display: none !important; }
  .visible-sm { display: block !important; }
  .justify-content-sm-start { -webkit-box-pack: start; -ms-flex-pack: start; -webkit-justify-content: start; justify-content: start; }
  .justify-content-sm-center { -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }
  .justify-content-sm-end { -webkit-box-pack: end; -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; }
  .text-sm-center { text-align: center; }
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .column_sm_10 { width: 10% !important; }
  .column_sm_20 { width: 20% !important; }
  .column_sm_25 { width: 25% !important; }
  .column_sm_33 { width: 33% !important; }
  .column_sm_40 { width: 40% !important; }
  .column_sm_50 { width: 50% !important; }
  .column_sm_60 { width: 60% !important; }
  .column_sm_70 { width: 70% !important; }
  .column_sm_80 { width: 80% !important; }
  .column_sm_90 { width: 90% !important; }
  .column_sm_100 { width: 100% !important; }
  .align-items-sm-center { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
  .justify-content-sm-start { -webkit-box-pack: start; -ms-flex-pack: start; -webkit-justify-content: start; justify-content: start; }
  .justify-content-sm-center { -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }
  .justify-content-sm-end { -webkit-box-pack: end; -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; }
  .justify-content-space-sm-between { -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }
  .display-sm-flex { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
  .display-sm-flex_horizontal { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }
  .display-sm-flex_vertical { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }
  .pad-sm-0 { padding: 0 !important; }
  .pad-t-sm-0 { padding-top: 0 !important; }
  .pad-b-sm-0 { padding-bottom: 0 !important; }
  .pad-r-sm-0 { padding-right: 0 !important; }
  .pad-l-sm-0 { padding-left: 0 !important; }
  .mar-t-sm-0 { margin-top: 0 !important; }
  .mar-l-sm-0 { margin-left: 0 !important; }
  .mar-b-sm-0 { margin-bottom: 0 !important; }
  .pad-sm-8 { padding: 8px !important; }
  .pad-t-sm-8 { padding-top: 8px !important; }
  .pad-b-sm-8 { padding-bottom: 8px !important; }
  .pad-r-sm-8 { padding-right: 8px !important; }
  .pad-l-sm-8 { padding-left: 8px !important; }
  .mar-t-sm-8 { margin-top: 8px !important; }
  .mar-l-sm-8 { margin-left: 8px !important; }
  .mar-b-sm-8 { margin-bottom: 8px !important; }
  .pad-sm-15 { padding: 15px !important; }
  .pad-t-sm-15 { padding-top: 15px !important; }
  .pad-b-sm-15 { padding-bottom: 15px !important; }
  .pad-r-sm-15 { padding-right: 15px !important; }
  .pad-l-sm-15 { padding-left: 15px !important; }
  .mar-t-sm-15 { margin-top: 15px !important; }
  .mar-l-sm-15 { margin-left: 15px !important; }
  .mar-b-sm-15 { margin-bottom: 15px !important; }
  .pad-sm-20 { padding: 20px !important; }
  .pad-t-sm-20 { padding-top: 20px !important; }
  .pad-b-sm-20 { padding-bottom: 20px !important; }
  .pad-r-sm-20 { padding-right: 20px !important; }
  .pad-l-sm-20 { padding-left: 20px !important; }
  .mar-t-sm-20 { margin-top: 20px !important; }
  .mar-l-sm-20 { margin-left: 20px !important; }
  .mar-b-sm-20 { margin-bottom: 20px !important; }
  .pad-sm-30 { padding: 30px !important; }
  .pad-t-sm-30 { padding-top: 30px !important; }
  .pad-b-sm-30 { padding-bottom: 30px !important; }
  .pad-r-sm-30 { padding-right: 30px !important; }
  .pad-l-sm-30 { padding-left: 30px !important; }
  .mar-t-sm-30 { margin-top: 30px !important; }
  .mar-l-sm-30 { margin-left: 30px !important; }
  .mar-b-sm-30 { margin-bottom: 30px !important; }
  .pad-sm-40 { padding: 40px !important; }
  .pad-t-sm-40 { padding-top: 40px !important; }
  .pad-b-sm-40 { padding-bottom: 40px !important; }
  .pad-r-sm-40 { padding-right: 40px !important; }
  .pad-l-sm-40 { padding-left: 40px !important; }
  .mar-t-sm-40 { margin-top: 40px !important; }
  .mar-l-sm-40 { margin-left: 40px !important; }
  .mar-b-sm-40 { margin-bottom: 40px !important; }
  .pad-sm-45 { padding: 45px !important; }
  .pad-t-sm-45 { padding-top: 45px !important; }
  .pad-b-sm-45 { padding-bottom: 45px !important; }
  .pad-r-sm-45 { padding-right: 45px !important; }
  .pad-l-sm-45 { padding-left: 45px !important; }
  .mar-t-sm-45 { margin-top: 45px !important; }
  .mar-l-sm-45 { margin-left: 45px !important; }
  .mar-b-sm-45 { margin-bottom: 45px !important; }
  .pad-sm-50 { padding: 50px !important; }
  .pad-t-sm-50 { padding-top: 50px !important; }
  .pad-b-sm-50 { padding-bottom: 50px !important; }
  .pad-r-sm-50 { padding-right: 50px !important; }
  .pad-l-sm-50 { padding-left: 50px !important; }
  .mar-t-sm-50 { margin-top: 50px !important; }
  .mar-l-sm-50 { margin-left: 50px !important; }
  .mar-b-sm-50 { margin-bottom: 50px !important; }
  .pad-sm-60 { padding: 60px !important; }
  .pad-t-sm-60 { padding-top: 60px !important; }
  .pad-b-sm-60 { padding-bottom: 60px !important; }
  .pad-r-sm-60 { padding-right: 60px !important; }
  .pad-l-sm-60 { padding-left: 60px !important; }
  .mar-t-sm-60 { margin-top: 60px !important; }
  .mar-l-sm-60 { margin-left: 60px !important; }
  .mar-b-sm-60 { margin-bottom: 60px !important; }
  .pad-sm-70 { padding: 70px !important; }
  .pad-t-sm-70 { padding-top: 70px !important; }
  .pad-b-sm-70 { padding-bottom: 70px !important; }
  .pad-r-sm-70 { padding-right: 70px !important; }
  .pad-l-sm-70 { padding-left: 70px !important; }
  .mar-t-sm-70 { margin-top: 70px !important; }
  .mar-l-sm-70 { margin-left: 70px !important; }
  .mar-b-sm-70 { margin-bottom: 70px !important; } }

@media screen and (max-width: 600px) { .hidden-xs { display: none !important; }
  .mar-t-xs-0 { margin-top: 0 !important; } }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Remove default padding */
ul[class], ol[class] { padding: 0; }

/* Remove default margin */
body, h1, h2, h3, h4, h5, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd { margin: 0; }

/* Set core body defaults */
body { min-height: 100vh; scroll-behavior: smooth; text-rendering: optimizeSpeed; line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class], ol[class] { list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) { text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img { max-width: 100%; display: block; height: auto; }

/* Natural flow and rhythm in articles by default */
article > * + * { margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input, button, textarea, select { font: inherit; }

* { text-decoration: none; outline: none; }

html { font-size: 16px; }

body { font-family: "Play", sans-serif; color: #fff; font-weight: 400; background: url("../images/background.jpg") no-repeat center #18171C; background-attachment: fixed; -webkit-background-size: 100% auto; background-size: 100% auto; }

p { font-size: 1rem; line-height: 1.5rem; }

h2 { font-size: 1.5vw; line-height: 2.5vw; }

strong { font-weight: 700; }

ol, ul { list-style: none; }

.header { padding: 40px 0 0 0; }

.header strong { font-size: 14px; }

.header .widget { padding-right: 40px; }

.header .widget:last-child { padding-right: 0; }

.header p img { display: inline-block; vertical-align: middle; margin-right: 10px; }

.container { padding: 0 3vw; }

nav { background: #1A191F; padding: 0 10px; margin-top: 50px; -webkit-border-radius: 5px; border-radius: 5px; }

nav ul li:hover a { color: #D21E24; -webkit-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; }

nav ul li a { color: #fff; font-weight: 700; display: block; padding: 20px; }

.main { position: relative; height: -webkit-calc(100vh - 192px); height: calc(100vh - 192px); }

.main__caption { position: absolute; top: 50%; left: 50%; width: 100%; max-width: 500px; text-align: center; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }

.main__caption p { margin-top: 15px; }

.main__caption ul { display: block; max-width: 310px; margin: 0 auto; padding: 0; margin-top: 2vw; }

.main__caption ul li { margin-top: 3vw; }

.main__caption ul li:hover a { background: #D21E24; }

.main__caption ul li a { background: #18171D; display: block; padding: 3vw .5vw 3vw 3vw; position: relative; font-weight: 700; text-transform: uppercase; -webkit-border-radius: 5px; border-radius: 5px; }

.main__caption ul li a img { position: absolute; top: 50%; -webkit-transform: translateY(-50%) translateX(-85%); -ms-transform: translateY(-50%) translateX(-85%); transform: translateY(-50%) translateX(-85%); height: 110%; width: auto; }

.main__caption ul li a span { color: #fff; display: block; }

.mar-t-30 { margin-top: 0; }

.container-large { width: 98%; margin: 0 auto; }

aside { display: table-cell; width: 18%; /*-webkit-transition: all ease-in-out .2s; transition: all ease-in-out .2s;*/ }

aside .aside-inner { background: #1A191F; padding: 10px 0; -webkit-border-radius: 5px; border-radius: 5px; }

aside ul { list-style: none; padding: 0; }

aside ul .inner { padding-left: 66px; overflow: hidden; display: none; margin-top: 10px; }

aside ul .inner li { margin: 0; }

aside ul .inner li a { font-weight: 300; font-size: 16px; padding: 10px 5px; color: #525254; display: block; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; }

aside ul .inner li:hover a { color: #fff; }

aside ul li a.toggle { width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -o-transition: background-color .3s ease; transition: background-color .3s ease; -webkit-transition: background-color .3s ease; font-size: 13.62px; color: #fff; text-transform: uppercase; font-weight: 700; padding: 10px 0 10px 25px; position: relative; }

aside ul li a.toggle img { margin-right: 15px; }

aside ul li a.toggle:after { content: ''; width: 14px; height: 8px; background: url(../images/arrow.svg) no-repeat center; position: absolute; top: 50%; right: 15px; }

aside ul li a.toggle:hover { background: rgba(0, 0, 0, 0.9); }

aside.fixed { position: fixed; z-index: 1; top: 0; left: 3vw; }

aside.fixed.configuration { left: initial; right: 3vw; width: 17%; }

aside.fixed + .center-block { margin-left: 18%; }

.center-block { width: 64%; padding: 0 18px; }

h2 { font-size: 24px; color: #fff; width: 100%; padding: 12px 0 12px 20px; position: relative; margin-bottom: 60px; }

h2:before { content: ''; background: #D21E24; width: 66px; height: 3px; position: absolute; bottom: -10px; left: 20px; z-index: 2; }

h2:after { content: ''; background: #27262C; width: -webkit-calc(100% - 20px); width: calc(100% - 20px); height: 3px; position: absolute; bottom: -10px; left: 20px; }

.center-block .product-table { vertical-align: top; }

.center-block .product-table ul.list { margin: 0; }

.list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; padding-bottom: 30px !important; }

.list li a { display: block; }

.list li.active a:after { content: ''; width: 100%; height: 2px; background: #D21E24; display: block; }

.scroll-content { overflow: auto; }

.product-table tbody { display: block; }

.center-block .product-table ul.list li { display: inline-block; margin-bottom: 0; }

.center-block .product-table ul.list li a { color: #fff; font-size: 16px; padding: 10px 30px; }

.center-block .product-table ul.list li a:first-child { padding-left: 0; }

.mb-track-x .mb-bar, .mb-track-y .mb-bar { background: #D21E24; cursor: pointer; }

.mb-track-x { opacity: 1 !important; }

.inner { height: auto !important; overflow-x: auto; overflow-y: hidden; }

.inner_2 { max-height: 710px; /*overflow: hidden;*/ overflow: auto; margin-top: 10px; }

::-webkit-scrollbar { width: 3px; height: 3px; }

::-webkit-scrollbar-button { background-color: transparent; }

::-webkit-scrollbar-track { background-color: #252525; }

::-webkit-scrollbar-track-piece { background-color: #252525; }

::-webkit-scrollbar-thumb { height: 66px; width: 2px; background-color: #D21E24; -webkit-border-radius: 3px; border-radius: 3px; }

::-webkit-scrollbar-corner { background-color: #fff; }

::-webkit-resizer { background-color: #fff; }

.inner_2 .mb-track-x { display: none !important; }

.container-large .config-block { padding: 0; }

.config-block { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.left-td { width: 100%; }

.left-td-inner { padding-left: 25px; }

.right-td { width: 34%; min-height: 90px; }

.main-list { margin-top: 0 !important; height: auto; overflow: hidden; padding-bottom: 30px; }

.main-list li { margin-bottom: 0 !important; padding: 10px 30px 10px 20px; vertical-align: middle; width: 100%; position: relative; }

.float-right { float: right; }

.main-list li:first-child { border-top: none; }

.main-list li * { vertical-align: middle; }

.button { background: #D21E24; display: inline-block; padding: 5px 15px; color: #fff; -webkit-border-radius: 5px; border-radius: 5px; margin-top: 40px; -webkit-transition: all ease-in-out .3s; -o-transition: all ease-in-out .3s; transition: all ease-in-out .3s; border: none; }

.button:hover { background: #791115; }

.button--violet { background: #565656; }

.button--violet:hover { background: #3d3d3d; }

.button--violet-light { background: #fff; color: #1A191F; width: 100%; margin-top: 10px; text-align: center; }

.button--violet-light:hover { background: #a5181c; color: #fff; }

.buttons-holder { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.buttons-holder .button { display: block; width: 48%; text-align: center; font-size: 16px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; color: #fff; font-weight: 700; margin-top: 20px; }

/*
 .jspContainer
 {
     overflow: hidden;
     position: relative;
 }
 
 .jspPane
 {
     position: absolute;
 }
 
 .jspVerticalBar
 {
     width: 3px;
     height: 100%;
     position: absolute;
     right: 0;
     top: 0;
 }
 
 .jspHorizontalBar
 {
     background: $color-primary;
     bottom: 0;
     height: 3px;
     left: 0;
     position: absolute;
     width: 100%;
     cursor: pointer;
 }
 
 .jspCap
 {
     display: none;
 }
 
 .jspHorizontalBar .jspCap
 {
     float: left;
 }
 
 .jspTrack
 {
     background: #27262C;
     position: relative;
 }
 
 .jspDrag
 {
     background: $color-primary;
     cursor: pointer;
     left: 0;
     position: relative;
     top: 0;
     width: 2px;
 }
 
 .jspHorizontalBar .jspTrack,
 .jspHorizontalBar .jspDrag
 {
     float: left;
     height: 100%;
 }
 
 .jspArrow
 {
     background: #50506d;
     cursor: pointer;
         direction: ltr;
     display: block;
     margin: 0;
     padding: 0;
     text-indent: -20000px;
 }
 
 .jspDisabled
 {
     background: #80808d;
     cursor: default;
 }
 
 .jspVerticalBar .jspArrow
 {
     height: 16px;
 }
 
 .jspHorizontalBar .jspArrow
 {
     float: left;
     height: 100%;
     width: 16px;
 }
 
 .jspVerticalBar .jspArrow:focus
 {
         border: 1px solid red;
     outline: none;
 }
 
 .jspCorner
 {
     background: #eeeef4;
     float: left;
     height: 100%;
 }
 

 * html .jspCorner
 {
     margin: 0 -3px 0 0;
 }
*/
label { position: relative; font-size: 16px; color: #fff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

label a.info { display: inline-block !important; padding: 0 !important; margin-left: 4px; position: relative; top: -4px; }

.product-block { display: inline-block; vertical-align: top; width: 100%; padding-left: 9px; }

.price-block { font-size: 16px; color: #fff; display: inline-block; cursor: pointer; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

input[type="radio"] { opacity: 0; position: absolute; left: 0; width: 100%; z-index: 2; cursor: pointer; }

input[type="radio"] + label span:nth-of-type(1) { display: inline-block; width: 20px; height: 20px; background: #27262C; cursor: pointer; position: relative; margin-right: 20px; top: -2px; }

input[type="radio"] + label span:nth-of-type(1):after { content: ''; width: 17px; height: 17px; -webkit-border-radius: 100%; border-radius: 100%; position: absolute; top: 0; left: 6px; visibility: hidden; background: url(../images/ok.svg) no-repeat center; }

input[type="radio"]:checked + label span:after { visibility: visible; }

input[type="radio"]:checked + label span + select { display: block; }

select { position: relative; z-index: 2; -webkit-appearance: none; -moz-appearance: none; padding-right: 20px; background: url("../images/arrows.svg") no-repeat 100% 50% #1c1c1c; display: none; margin-right: 15px; color: #ccc; border: 1px solid #2a2a2a; width: 45px; height: 24px; padding-left: 5px; padding-right: 5px; cursor: pointer; }

select option { color: #ccc; }

input[type="radio"]:checked + label span:nth-of-type(1) { background: #D21E24; }

.left-td { width: 75%; }

.right-td { position: relative; }

.right-td img { width: 70%; height: auto; margin: 0 auto; display: block; }

.product-title { font-size: 9.4px; position: absolute; top: 10px; padding-left: 7px; }

.product-table { margin-bottom: 18px; display: block; }

.forse-overflow { display: block; overflow: auto; width: 100%; max-height: 400px; }

.product-table tr { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; width: 100%; }

.scrollbar-inner .viewport { width: 100%; height: 400px; overflow: hidden; position: relative; }

.scrollbar-inner .overview { list-style: none; padding: 0; margin: 0; position: absolute; left: 0; top: 0; }

.scrollbar-inner .scrollbar { position: absolute; right: -20px; top: 0; width: 15px; }

.scrollbar-inner .track { width: 100%; height: 15px; position: relative; }

.scrollbar-inner .thumb { height: 25px; cursor: pointer; overflow: hidden; position: absolute; left: 0; top: -5px; background: #120c0e; }

.scrollbar-inner { position: relative; }

.configuration { color: #fff; }

.configuration-inner { padding: 30px 0 5px 0; max-height: 75vh; overflow: auto; background: #1A191F; -webkit-border-radius: 5px; border-radius: 5px; }

.configuration-inner-inner { padding: 30px 15px; }

.configuration h3 { font-weight: 700; color: #fff; font-size: 24px; text-transform: uppercase; text-align: center; }

.configuration h4 { color: #fefefe; font-weight: 100; font-size: 13.62px; text-align: center; line-height: 18px; }

.configuration .config-img { display: block; max-width: 100%; height: auto; margin: 0 auto; }

.clearfix:after { content: ''; display: table; clear: both; }

.configuration .config-img-outer { margin: 10px 0; }

.img-holder { position: relative; margin-top: 80px; z-index: 2; text-align: center; }

.img-holder:after { content: ''; background: rgba(255, 255, 255, 0.04); mix-blend-mode: color-dodge; -webkit-filter: blur(10px); filter: blur(10px); width: 220px; height: 220px; position: absolute; top: 50%; left: 50%; -webkit-border-radius: 100%; border-radius: 100%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.magnify { width: 100%; }

.magnify-lens { background-color: #1A191F !important; }

.configuration p { font-size: 12px; color: #fff; font-weight: 300; text-align: center; }

.configuration em { font-weight: 700; display: block; margin-top: 5px; }

.result-holder { width: 100%; overflow: auto; }

.total-result { margin-top: 30px; text-align: center; }

.total-result p { font-size: 16px; }

.total-title { text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); font-size: 24px; }

.configuration .result li { font-size: 18px; text-align: left; margin-bottom: 6px; }

.configuration .result p { font-size: 18px; font-weight: 700; text-align: left; margin-bottom: 5px; display: block; }

.configuration a.full-setification { font-size: 8.42px; font-weight: 300; text-decoration: underline; }

.configuration.fixed { right: 1%; }

.save-config { font-size: 9.85px; font-weight: 300; }

.colored { margin-top: 12px; padding-top: 6px; margin-bottom: 5px; }

.colored ul { margin-top: 5px; }

.colored ul li { display: inline-block; vertical-align: middle; margin-bottom: 8px; }

.colored ul li a { font-size: 9.85px !important; font-weight: 300; padding: 0 5px; line-height: 15px; }

.colored ul li a img { position: relative; top: 2px; }

.social { margin-top: 2px !important; }

.social li { display: inline-block; margin-right: 7px; margin-bottom: 0 !important; }

.social li:last-child { margin-right: 0; }

.social li a { padding: 0 !important; }

/*.tooltip-toggle::before {
    position: absolute;
    top: -40px;
    left: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    border-radius: 5px;
    color: #000 !important;
    content: attr(aria-label);
    padding: 1rem;
    text-transform: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 350px;
    z-index: 999;
    white-space: pre-line;
}

.tooltip-toggle::after {
    position: absolute;
    top: -15px;
    left: 3px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    content: " ";
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
    width: 0;
    border-radius: 0 !important;
    background: none !important;
}

.tooltip-toggle::before,
.tooltip-toggle::after {
    color: #efefef;
    font-family: monospace;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

.tooltip-toggle:focus::before,
.tooltip-toggle:focus::after,
.tooltip-toggle:hover::before,
.tooltip-toggle:hover::after {
    opacity: 1;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.tooltip-toggle,
.tooltip-toggle:hover {
    background: none !important;
    position: relative;
    z-index: 998;
    top: -2px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.tooltip-toggle img {
    position: relative;
    top: -2px;
}
*/
.tooltip-toggle { background: url(../images/info.svg) no-repeat center/cover; width: 20px; height: 20px; margin-left: 10px; }

/* Magnific Popup CSS */
.mfp-bg, .mfp-wrap { position: fixed; left: 0; top: 0; }

.mfp-bg, .mfp-container, .mfp-wrap { height: 100%; width: 100%; }

.mfp-arrow:after, .mfp-arrow:before, .mfp-container:before, .mfp-figure:after { content: ''; }

.mfp-bg { z-index: 1042; overflow: hidden; background: #0b0b0b; opacity: .8; }

.mfp-wrap { z-index: 1043; outline: 0 !important; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.mfp-container { text-align: center; position: absolute; left: 0; top: 0; padding: 0 8px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.mfp-container:before { display: inline-block; height: 100%; vertical-align: middle; }

.mfp-align-top .mfp-container:before { display: none; }

.mfp-content { position: relative; display: inline-block; vertical-align: middle; margin: 0 auto; text-align: left; z-index: 1045; }

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content { width: 100%; cursor: auto; }

.mfp-ajax-cur { cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor: -webkit-zoom-out; cursor: zoom-out; }

.mfp-zoom { cursor: pointer; cursor: -webkit-zoom-in; cursor: zoom-in; }

.mfp-auto-cursor .mfp-content { cursor: auto; }

.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.mfp-loading.mfp-figure { display: none; }

.mfp-hide { display: none !important; }

.mfp-preloader { color: #CCC; position: absolute; top: 50%; width: auto; text-align: center; margin-top: -.8em; left: 8px; right: 8px; z-index: 1044; }

.mfp-preloader a { color: #CCC; }

.mfp-close, .mfp-preloader a:hover { color: #FFF; }

.mfp-s-error .mfp-content, .mfp-s-ready .mfp-preloader { display: none; }

button.mfp-arrow, button.mfp-close { overflow: visible; cursor: pointer; background: 0 0; border: 0; -webkit-appearance: none; display: block; outline: 0; padding: 0; z-index: 1046; -webkit-box-shadow: none; box-shadow: none; -ms-touch-action: manipulation; touch-action: manipulation; }

.mfp-figure:after, .mfp-iframe-scaler iframe { -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); position: absolute; left: 0; }

button::-moz-focus-inner { padding: 0; border: 0; }

.mfp-close { width: 44px; height: 44px; line-height: 44px; position: absolute; right: 0; top: 0; text-decoration: none; text-align: center; opacity: .65; padding: 0 0 18px 10px; font-style: normal; font-size: 28px; font-family: Arial, Baskerville, monospace; }

.mfp-close:focus, .mfp-close:hover { opacity: 1; }

.mfp-close:active { top: 1px; }

.mfp-close-btn-in .mfp-close { color: #333; }

.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close { color: #FFF; right: -6px; text-align: right; padding-right: 6px; width: 100%; }

.mfp-counter { position: absolute; top: 0; right: 0; color: #CCC; font-size: 12px; line-height: 18px; white-space: nowrap; }

.mfp-figure, img.mfp-img { line-height: 0; }

.mfp-arrow { position: absolute; opacity: .65; margin: -55px 0 0; top: 50%; padding: 0; width: 90px; height: 110px; -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active { margin-top: -54px; }

.mfp-arrow:focus, .mfp-arrow:hover { opacity: 1; }

.mfp-arrow:after, .mfp-arrow:before { display: block; width: 0; height: 0; position: absolute; left: 0; top: 0; margin-top: 35px; margin-left: 35px; border: inset transparent; }

.mfp-arrow:after { border-top-width: 13px; border-bottom-width: 13px; top: 8px; }

.mfp-arrow:before { border-top-width: 21px; border-bottom-width: 21px; opacity: .7; }

.mfp-arrow-left { left: 0; }

.mfp-arrow-left:after { border-right: 17px solid #FFF; margin-left: 31px; }

.mfp-arrow-left:before { margin-left: 25px; border-right: 27px solid #3F3F3F; }

.mfp-arrow-right { right: 0; }

.mfp-arrow-right:after { border-left: 17px solid #FFF; margin-left: 39px; }

.mfp-arrow-right:before { border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder { padding-top: 40px; padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content { line-height: 0; width: 100%; max-width: 900px; }

.mfp-image-holder .mfp-content, img.mfp-img { max-width: 100%; }

.mfp-iframe-holder .mfp-close { top: -40px; }

.mfp-iframe-scaler { width: 100%; height: 0; overflow: hidden; padding-top: 56.25%; }

.mfp-iframe-scaler iframe { display: block; top: 0; width: 100%; height: 100%; background: #000; }

.mfp-figure:after, img.mfp-img { width: auto; height: auto; display: block; }

img.mfp-img { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 40px 0; margin: 0 auto; }

.mfp-figure:after { top: 40px; bottom: 40px; right: 0; z-index: -1; background: #444; }

.mfp-figure small { color: #BDBDBD; display: block; font-size: 12px; line-height: 14px; }

.mfp-figure figure { margin: 0; }

.mfp-bottom-bar { margin-top: -36px; position: absolute; top: 100%; left: 0; width: 100%; cursor: auto; }

.mfp-title { text-align: left; line-height: 18px; color: #F3F3F3; word-wrap: break-word; padding-right: 36px; }

.mfp-gallery .mfp-image-holder .mfp-figure { cursor: pointer; }

@media (max-width: 1280px) { label, .price-block, .configuration .result li { font-size: 14px; }
  .buttons-holder { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .buttons-holder .button { width: 100%; }
  .configuration h3 { font-size: 20px; }
  aside ul li a.toggle { padding: 10px 20px 10px 25px; } }

@media (max-width: 992px) { h2 { font-size: 3vw; }
  #custom_html-4 { display: none; }
  .main__caption ul { margin-top: 5vw; }
  .config-block { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  aside { width: 30%; }
  .configuration { width: 100%; }
  .center-block { width: 70%; }
  .left-td { width: 60%; }
  .right-td { width: 40%; }
  .price-block { position: static; float: right; margin-top: 15px; }
  .config-block { margin-top: 60px; }
  .img-holder:after { width: 160px; height: 160px; }
  aside.fixed { position: relative !important; }
  aside.fixed + .center-block { margin-left: 0; } }

.mobile-only { display: none; }

@media (max-width: 768px) { .left-td { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; width: 100%; margin-top: 60px; }
  .right-td { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; width: 100%; }
  .product-table tr { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  aside { width: 100%; }
  .center-block { width: 100%; }
  .img-holder:after { width: 330px; height: 330px; }
  .no-mobile { display: none; }
  .bottom-section { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important; }
  .mobile-only { display: block; }
  .accordion { display: none; } }

@media (max-width: 600px) { h2 { font-size: 6vw; }
  #custom_html-2 { display: none; }
  .main__caption ul { max-width: 180px; margin-top: 10vw; }
  .main__caption ul li { margin-top: 6vw; }
  .main__caption ul li a { padding-top: 6vw; padding-bottom: 6vw; } }

@media (max-width: 480px) { h2:before, h2:after { bottom: -15px; }
  nav { margin-top: 0; }
  .container { padding: 0; }
  aside.fixed { left: 0; } }

.carousel--first { background: #f54337; -webkit-transition: all ease-in-out .5s; -o-transition: all ease-in-out .5s; transition: all ease-in-out .5s; }

.carousel--first.active { height: 0; overflow: hidden; }

.carousel--first .slide { -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; }

.carousel--first .slide a { text-align: center; display: block; color: rgba(255, 255, 255, 0.5); text-transform: uppercase; font-size: 12px; padding: 15px 0; }

.carousel--first .slide-active a { color: #fff; }

.carousel--second { background: #444; -webkit-transition: all ease-in-out .5s; -o-transition: all ease-in-out .5s; transition: all ease-in-out .5s; }

.carousel--second .slide a { font-size: 12px; }

.carousel--inner .slide { text-align: center; }

.carousel--inner .slide svg { display: block; margin: 0 auto; margin-bottom: 5px; fill: rgba(255, 255, 255, 0.5); }

.carousel--inner .slide a { display: block; color: rgba(255, 255, 255, 0.5); padding: 10px 0; }

.carousel--inner .slide a.active { color: #fff; }

.carousel--inner .slide a.active svg { fill: #fff; }

.header--mobile { overflow: hidden; }

.header--mobile.fixed { position: fixed; width: 100%; left: 0; top: 0; z-index: 999; padding-top: 0; -webkit-transition: all ease-in-out .5s; -o-transition: all ease-in-out .5s; transition: all ease-in-out .5s; }

.scroll-down .header.fixed .carousel--first { -webkit-transform: translateY(-50px); -ms-transform: translateY(-50px); transform: translateY(-50px); }

.scroll-down .header.fixed .carousel--second { -webkit-transform: translateY(-35px); -ms-transform: translateY(-35px); transform: translateY(-35px); }

.scroll-up .header.fixed .carousel--first { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }

.bottom-section { color: #ccc; display: none; border-top: 1px solid #2f2f2f; background: #222; position: fixed; left: 0; bottom: 0; z-index: 999; width: 100%; height: 50px; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; padding: 0 10px; }

.bottom-section__left, .bottom-section__right { -webkit-flex-shrink: 50%; -ms-flex-negative: 50%; flex-shrink: 50%; width: 50%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.bottom-section p { color: #fff; }

.bottom-section a { color: #fff; font-size: 14px; }

.bottom-section a svg { display: block; fill: #fff; }

.bottom-section .button { margin-top: 0; }

.bottom-section__inner { visibility: hidden; opacity: 0; -webkit-transition: all ease-in-out .5s; -o-transition: all ease-in-out .5s; transition: all ease-in-out .5s; position: absolute; right: 0; bottom: 50px; z-index: 1020; -webkit-box-sizing: border-box; box-sizing: border-box; min-width: 200px; padding: 25px; background: #333; color: #ccc; -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15); box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15); }

.bottom-section__inner.active { visibility: visible; opacity: 1; }

.bottom-section__inner ul { white-space: nowrap; font-size: .875rem; margin: -2px 0; padding: 0; }

.bottom-section__inner ul li { margin-bottom: 10px; }

.bottom-section__inner ul li a { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.bottom-section__inner ul li svg { stroke: #fff !important; margin-right: 10px; }

.mfp-close { color: #fff !important; background: #D21E24 !important; }

.mfp-container { position: fixed; }

.modal { border: 1px solid #2f2f2f; background: #222; padding: 15px; max-width: 600px; margin: 0 auto; position: relative; }

.modal .input-holder { margin-bottom: 15px; padding: 0 15px; }

.modal .input-holder input { width: 100%; height: 40px; padding: 0 10px; border: 1px solid #2f2f2f; background: #222; }

.modal .configuration-inner { background: none; }

.modal h2 { margin-bottom: 15px; }

input { color: #fff; }
/*# sourceMappingURL=style.css.map */