header.header
    .container
        .row.align-items-center
            .column_25
                a(href="#").custom-logo-link
                    img(src="images/logo.png").custom-logo
            .column_75
               .row.text-right.justify-content-end.align-items-center
                    #custom_html-2.widget_text.widget.widget_custom_html
                        .textwidget.custom-html-widget
                            P
                                img(src="images/mail.svg" alt="")
                                | Напишите нам
                            strong info@pc.uz

                    #custom_html-3.widget_text.widget.widget_custom_html
                        .textwidget.custom-html-widget
                            P
                                img(src="images/phone.svg" alt="")
                                | Позвоните нам
                            strong +998 99 301-31-00

                    #custom_html-4.widget_text.widget.widget_custom_html
                        .textwidget.custom-html-widget
                            P
                                img(src="images/time.svg" alt="")
                                | Рабочее время
                            strong Пн-Сб   9.00  - 18.00

        nav
            ul.row.align-items-center.main__menu
                li
                    a(href="#") Категории

                li
                    a(href="#") Админ-панель